body{
    background: #223;
    color: white;
}

.box{
    background: red;
    width: 200px;
    height: 200px;
    transition: all 1s ease 0s;
}
.box:hover{
    background: blue;
    height: 300px;
    /*transition: all 1s ease 0s;
   /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 6s;*/
}