:root{
    --pikachu-skin-color: #efdb6b;
    --pikachu-cheek-color: #c95a4f;
    --pikachu-borders-color: #303231;
    --pikachu-head-size: 250px;
    --pikachu-head-shape: polygon(15% 17%, 36% 5%, 64% 5%, 77% 12%, 88% 23%, 94% 36%, 94% 49%, 98% 59%, 97% 71%, 90% 84%, 71% 94%, 29% 94%, 11% 84%, 3% 70%, 2% 58%, 6% 49%, 6% 35%);

}

.container{
 
}

.pikachu{

    & .head{
        width: var(--pikachu-head-size);
        height: var(--pikachu-head-size);
        background: var(--pikachu-skin-color);

    }

    

    & .ear{

    }


    & .face{
        & .eyes-container{
            & .eye{

            }
        }
        & .nose{

        }
    
         & .mouth-container{

        }
        & .cheek{

        }
    }
    
}



